h2{
color: black;
}

label {
    border: 1px inset #000000;
    border-radius: 5px;
    background: #636363;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 3px;
}
table, th, td {
border-collapse: collapse;
border: 1px solid black;
}
